USE [master]
GO
/****** Object:  Database [Foodpal]    Script Date: 7/19/2024 6:12:22 PM ******/
CREATE DATABASE [Foodpal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Foodpal', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Foodpal.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Foodpal_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Foodpal_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Foodpal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Foodpal]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 7/19/2024 6:12:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](20) NOT NULL,
	[Password] [varchar](20) NOT NULL,
	[Type] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 7/19/2024 6:12:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[LoginCode] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 7/19/2024 6:12:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CateID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discount]    Script Date: 7/19/2024 6:12:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount](
	[DiscountID] [int] IDENTITY(1,1) NOT NULL,
	[DiscountName] [nvarchar](50) NULL,
	[Offer] [varchar](20) NULL,
	[ValidDate] [date] NULL,
	[ExpiredDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DiscountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiscountOwner]    Script Date: 7/19/2024 6:12:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscountOwner](
	[DiscountID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[stock] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DiscountID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Food]    Script Date: 7/19/2024 6:12:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Food](
	[ShopID] [int] NULL,
	[FoodID] [int] IDENTITY(1,1) NOT NULL,
	[CateID] [int] NULL,
	[Price] [money] NULL,
	[FoodImage] [varchar](100) NULL,
	[Foodname] [nvarchar](100) NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FoodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 7/19/2024 6:12:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Time] [smalldatetime] NULL,
	[ShipLocation] [nvarchar](200) NOT NULL,
	[Status] [nvarchar](20) NULL,
	[ShopID] [int] NULL,
	[Total] [int] NULL,
	[ShipperID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdersDetail]    Script Date: 7/19/2024 6:12:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdersDetail](
	[OrderID] [int] NOT NULL,
	[FoodID] [int] NOT NULL,
	[Amount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[FoodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RateFood]    Script Date: 7/19/2024 6:12:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RateFood](
	[FoodID] [int] NULL,
	[RateID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Rate] [int] NULL,
	[Reply] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[RateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportFood]    Script Date: 7/19/2024 6:12:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportFood](
	[ReportFoodID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[FoodID] [int] NOT NULL,
	[content] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[FoodID] ASC,
	[ReportFoodID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportShipper]    Script Date: 7/19/2024 6:12:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportShipper](
	[ReportFoodID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ShipperID] [int] NOT NULL,
	[content] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ShipperID] ASC,
	[ReportFoodID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportShop]    Script Date: 7/19/2024 6:12:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportShop](
	[ReportFoodID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ShopID] [int] NOT NULL,
	[content] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ShopID] ASC,
	[ReportFoodID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 7/19/2024 6:12:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[FoodID] [int] NULL,
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[RateID] [int] NULL,
	[content] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipper]    Script Date: 7/19/2024 6:12:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipper](
	[ShipperID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Phone] [varchar](20) NULL,
	[VehicleID] [varchar](20) NOT NULL,
	[AccountID] [int] SPARSE  NULL,
	[Avatar] [nvarchar](200) NULL,
	[status] [int] NULL,
	[Email] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ShipperID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shop]    Script Date: 7/19/2024 6:12:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shop](
	[ShopID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Phone] [varchar](10) NOT NULL,
	[Location] [nvarchar](100) NOT NULL,
	[ShopImage] [varchar](100) NULL,
	[AccountID] [int] NULL,
	[ShopEmail] [varchar](100) NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ShopID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 7/19/2024 6:12:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[TicketID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Subject] [nvarchar](50) NULL,
	[Content] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ticketResponse]    Script Date: 7/19/2024 6:12:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ticketResponse](
	[TicketID] [int] NOT NULL,
	[response] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/19/2024 6:12:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [varchar](50) NOT NULL,
	[Location] [nvarchar](100) NULL,
	[AccountID] [int] NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wallet]    Script Date: 7/19/2024 6:12:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wallet](
	[UserID] [int] NOT NULL,
	[Type] [int] NOT NULL,
	[Amount] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([AccountID], [Username], [Password], [Type]) VALUES (1, N'sunheophp', N'123', N'User')
INSERT [dbo].[Account] ([AccountID], [Username], [Password], [Type]) VALUES (2, N'shopanvat', N'123', N'Shop')
INSERT [dbo].[Account] ([AccountID], [Username], [Password], [Type]) VALUES (1002, N'shipper1', N'123', N'Shipper')
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([AdminID], [Name], [LoginCode]) VALUES (1, N'Phuong', N'php_am1')
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CateID], [Name]) VALUES (1, N'Snacks')
INSERT [dbo].[Category] ([CateID], [Name]) VALUES (2, N'Desserts')
INSERT [dbo].[Category] ([CateID], [Name]) VALUES (3, N'Soups')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Discount] ON 

INSERT [dbo].[Discount] ([DiscountID], [DiscountName], [Offer], [ValidDate], [ExpiredDate]) VALUES (3, N'Giam 30%', N'30%', CAST(N'2024-03-11' AS Date), CAST(N'2025-11-25' AS Date))
INSERT [dbo].[Discount] ([DiscountID], [DiscountName], [Offer], [ValidDate], [ExpiredDate]) VALUES (4, N'Free ship', N'free-ship', CAST(N'2024-03-11' AS Date), CAST(N'2025-11-25' AS Date))
SET IDENTITY_INSERT [dbo].[Discount] OFF
GO
INSERT [dbo].[DiscountOwner] ([DiscountID], [UserID], [stock]) VALUES (3, 1, 5)
INSERT [dbo].[DiscountOwner] ([DiscountID], [UserID], [stock]) VALUES (4, 1, 5)
GO
SET IDENTITY_INSERT [dbo].[Food] ON 

INSERT [dbo].[Food] ([ShopID], [FoodID], [CateID], [Price], [FoodImage], [Foodname], [Status]) VALUES (1, 1, 1, 20000.0000, N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnbmkhQSim64h2vJzu939EAZM8KjeFAp31bw&s', N'banh trang tron', 2)
INSERT [dbo].[Food] ([ShopID], [FoodID], [CateID], [Price], [FoodImage], [Foodname], [Status]) VALUES (1, 2, 1, 15000.0000, N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKe9wBAIHdUUKA89uIRnV40VQ0AZtsuvlxMg&s', N'banh trang cuon', 2)
INSERT [dbo].[Food] ([ShopID], [FoodID], [CateID], [Price], [FoodImage], [Foodname], [Status]) VALUES (1, 1005, 1, 15000.0000, NULL, N'banh trang cuon nuong', 2)
GO
SET IDENTITY_INSERT [dbo].[Food] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [UserID], [Time], [ShipLocation], [Status], [ShopID], [Total], [ShipperID]) VALUES (4016, 1, CAST(N'2024-07-18T23:57:00' AS SmallDateTime), N'328 Cù Chính Lan, P.An Khê, Q.Thanh Khê, Đà Nẵng, 50000, Vietnam', N'Denied', 1, 360000, 8)
INSERT [dbo].[Orders] ([OrderID], [UserID], [Time], [ShipLocation], [Status], [ShopID], [Total], [ShipperID]) VALUES (4017, 1, CAST(N'2024-07-19T00:05:00' AS SmallDateTime), N'328 Cù Chính Lan, P.An Khê, Q.Thanh Khê, Đà Nẵng, 50000, Vietnam', N'Done', 1, 160000, 1)
INSERT [dbo].[Orders] ([OrderID], [UserID], [Time], [ShipLocation], [Status], [ShopID], [Total], [ShipperID]) VALUES (4018, 1, CAST(N'2024-07-19T09:28:00' AS SmallDateTime), N'328 Cù Chính Lan, P.An Khê, Q.Thanh Khê, Đà Nẵng, 50000, Vietnam', N'Cooking', 3, 165000, 1)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
INSERT [dbo].[OrdersDetail] ([OrderID], [FoodID], [Amount]) VALUES (4016, 2010, 3)
INSERT [dbo].[OrdersDetail] ([OrderID], [FoodID], [Amount]) VALUES (4017, 2025, 2)
INSERT [dbo].[OrdersDetail] ([OrderID], [FoodID], [Amount]) VALUES (4018, 2069, 3)
GO
SET IDENTITY_INSERT [dbo].[RateFood] ON 

INSERT [dbo].[RateFood] ([FoodID], [RateID], [UserID], [Rate], [Reply]) VALUES (2007, 1, 1, 5, N'thanks')
INSERT [dbo].[RateFood] ([FoodID], [RateID], [UserID], [Rate], [Reply]) VALUES (2007, 2, 1, 5, NULL)
SET IDENTITY_INSERT [dbo].[RateFood] OFF
GO
SET IDENTITY_INSERT [dbo].[ReportFood] ON 

INSERT [dbo].[ReportFood] ([ReportFoodID], [UserID], [FoodID], [content]) VALUES (1, 1, 1006, N'bad')
SET IDENTITY_INSERT [dbo].[ReportFood] OFF
GO
SET IDENTITY_INSERT [dbo].[ReportShipper] ON 

INSERT [dbo].[ReportShipper] ([ReportFoodID], [UserID], [ShipperID], [content]) VALUES (1, 1, 1, N'steal')
SET IDENTITY_INSERT [dbo].[ReportShipper] OFF
GO
SET IDENTITY_INSERT [dbo].[ReportShop] ON 

INSERT [dbo].[ReportShop] ([ReportFoodID], [UserID], [ShopID], [content]) VALUES (1, 1, 1, N'bad')
SET IDENTITY_INSERT [dbo].[ReportShop] OFF
GO
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([FoodID], [ReviewID], [UserID], [RateID], [content]) VALUES (2007, 1, 1, 1, N'nice')
INSERT [dbo].[Review] ([FoodID], [ReviewID], [UserID], [RateID], [content]) VALUES (2007, 2, 1, 2, N'nice')
SET IDENTITY_INSERT [dbo].[Review] OFF
GO
SET IDENTITY_INSERT [dbo].[Shipper] ON 

INSERT [dbo].[Shipper] ([ShipperID], [Name], [Phone], [VehicleID], [AccountID], [Avatar], [status], [Email]) VALUES (1, N'Phan Hoang Phuong', N'0914020508', N'43D67397', 1002, NULL, 2, NULL)
INSERT [dbo].[Shipper] ([ShipperID], [Name], [Phone], [VehicleID], [AccountID], [Avatar], [status], [Email]) VALUES (4, N'Do Ngoc Duc', N'0932054032', N'43D392053', 2016, NULL, 2, NULL)
INSERT [dbo].[Shipper] ([ShipperID], [Name], [Phone], [VehicleID], [AccountID], [Avatar], [status], [Email]) VALUES (5, N'Phung Nhat Tan', N'09323434032', N'43D3923423', 2017, NULL, 2, NULL)
SET IDENTITY_INSERT [dbo].[Shipper] OFF
GO
SET IDENTITY_INSERT [dbo].[Shop] ON 

INSERT [dbo].[Shop] ([ShopID], [Name], [Phone], [Location], [ShopImage], [AccountID], [ShopEmail], [Status]) VALUES (1, N'Do an vat', N'0914020508', N'124 Tran Quoc Toan', N'Avatar\26.jpg', 2, N'phoangphuong309@gmail.com', 1)
INSERT [dbo].[Shop] ([ShopID], [Name], [Phone], [Location], [ShopImage], [AccountID], [ShopEmail], [Status]) VALUES (2, N'Phuc Drink', N'0943050702', N'12 Dinh Tien Hoang', N'phoangphuong309@gmail.com', 2009, N'phoangphuong309@gmail.com', 1)
INSERT [dbo].[Shop] ([ShopID], [Name], [Phone], [Location], [ShopImage], [AccountID], [ShopEmail], [Status]) VALUES (3, N'Ba Mua', N'0943043254', N'12 Nguyen Chi Thanh', N'phoangphuong309@gmail.com', 2010, N'phoangphuong309@gmail.com', 1)
SET IDENTITY_INSERT [dbo].[Shop] OFF
GO
SET IDENTITY_INSERT [dbo].[Ticket] ON 

INSERT [dbo].[Ticket] ([TicketID], [UserID], [Subject], [Content]) VALUES (1, 1, N'help me', N'test ticket writing')
SET IDENTITY_INSERT [dbo].[Ticket] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Name], [Phone], [Email], [Location], [AccountID], [status]) VALUES (1, N'Phuong', N'0914020508', N'phoangphuong309@gmail.com', NULL, 1, 1)
INSERT [dbo].[Users] ([UserID], [Name], [Phone], [Email], [Location], [AccountID], [status]) VALUES (4, N'Phung Nhat Tan', N'0382958373', N'email1@gmail.com', N'', 2002, 1)
INSERT [dbo].[Users] ([UserID], [Name], [Phone], [Email], [Location], [AccountID], [status]) VALUES (5, N'Do Ngoc Duc', N'0382943254', N'email2@gmail.com', N'', 2003, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
INSERT [dbo].[Wallet] ([UserID], [Type], [Amount]) VALUES (0, 0, 325000.0000)
INSERT [dbo].[Wallet] ([UserID], [Type], [Amount]) VALUES (1, 1, 97455000.0000)
INSERT [dbo].[Wallet] ([UserID], [Type], [Amount]) VALUES (1, 2, 1244500.0000)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UC_Person]    Script Date: 7/19/2024 6:12:22 PM ******/
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [UC_Person] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Discount] ADD  DEFAULT (getdate()) FOR [ValidDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [Time]
GO
ALTER TABLE [dbo].[DiscountOwner]  WITH CHECK ADD FOREIGN KEY([DiscountID])
REFERENCES [dbo].[Discount] ([DiscountID])
GO
ALTER TABLE [dbo].[DiscountOwner]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Food]  WITH CHECK ADD FOREIGN KEY([CateID])
REFERENCES [dbo].[Category] ([CateID])
GO
ALTER TABLE [dbo].[Food]  WITH CHECK ADD FOREIGN KEY([ShopID])
REFERENCES [dbo].[Shop] ([ShopID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK__Orders__ShipperI__324172E1] FOREIGN KEY([ShipperID])
REFERENCES [dbo].[Shipper] ([ShipperID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK__Orders__ShipperI__324172E1]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([ShopID])
REFERENCES [dbo].[Shop] ([ShopID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[OrdersDetail]  WITH CHECK ADD FOREIGN KEY([FoodID])
REFERENCES [dbo].[Food] ([FoodID])
GO
ALTER TABLE [dbo].[OrdersDetail]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[RateFood]  WITH CHECK ADD FOREIGN KEY([FoodID])
REFERENCES [dbo].[Food] ([FoodID])
GO
ALTER TABLE [dbo].[RateFood]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ReportFood]  WITH CHECK ADD FOREIGN KEY([FoodID])
REFERENCES [dbo].[Food] ([FoodID])
GO
ALTER TABLE [dbo].[ReportFood]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ReportShipper]  WITH CHECK ADD  CONSTRAINT [FK__ReportShi__Shipp__5535A963] FOREIGN KEY([ShipperID])
REFERENCES [dbo].[Shipper] ([ShipperID])
GO
ALTER TABLE [dbo].[ReportShipper] CHECK CONSTRAINT [FK__ReportShi__Shipp__5535A963]
GO
ALTER TABLE [dbo].[ReportShipper]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ReportShop]  WITH CHECK ADD FOREIGN KEY([ShopID])
REFERENCES [dbo].[Shop] ([ShopID])
GO
ALTER TABLE [dbo].[ReportShop]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([FoodID])
REFERENCES [dbo].[Food] ([FoodID])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([RateID])
REFERENCES [dbo].[RateFood] ([RateID])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Shipper]  WITH CHECK ADD  CONSTRAINT [FK_Shipper_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Shipper] CHECK CONSTRAINT [FK_Shipper_Account]
GO
ALTER TABLE [dbo].[Shop]  WITH CHECK ADD  CONSTRAINT [FK_Shop_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Shop] CHECK CONSTRAINT [FK_Shop_Account]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ticketResponse]  WITH CHECK ADD FOREIGN KEY([TicketID])
REFERENCES [dbo].[Ticket] ([TicketID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Account]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD CHECK  (([Type]='Shipper' OR [Type]='Shop' OR [Type]='User'))
GO
ALTER TABLE [dbo].[DiscountOwner]  WITH CHECK ADD  CONSTRAINT [stock] CHECK  (([stock]>(-1)))
GO
ALTER TABLE [dbo].[DiscountOwner] CHECK CONSTRAINT [stock]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([Status]='Denied' OR [Status]='Done' OR [Status]='Shipping' OR [Status]='Cooking'))
GO
ALTER TABLE [dbo].[RateFood]  WITH CHECK ADD  CONSTRAINT [Rate] CHECK  (([Rate]>=(0) AND [Rate]<=(5)))
GO
ALTER TABLE [dbo].[RateFood] CHECK CONSTRAINT [Rate]
GO
USE [master]
GO
