<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>Authentication</filter-name>
        <filter-class>Filter.Authentication</filter-class>
    </filter>
    <filter>
        <filter-name>Remember</filter-name>
        <filter-class>Filter.Remember</filter-class>
    </filter>
    <filter>
        <filter-name>OrderFilter</filter-name>
        <filter-class>Filter.OrderFilter</filter-class>
    </filter>
    <filter>
        <filter-name>TypeViolation</filter-name>
        <filter-class>Filter.TypeViolation</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TypeViolation</filter-name>
        <url-pattern>/Home/*</url-pattern>
        <url-pattern>/Shop/*</url-pattern>
        <url-pattern>/Shipper/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>OrderFilter</filter-name>
        <url-pattern>/order</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Remember</filter-name>
        <url-pattern>/Login/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <url-pattern>/Home/*</url-pattern>
        <url-pattern>/Shop/*</url-pattern>
        <url-pattern>/Shipper/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Control.LoggingIn.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowHome</servlet-name>
        <servlet-class>Control.Homing.ShowHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmRegisterEmail</servlet-name>
        <servlet-class>Control.Registering.ConfirmRegisterEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Control.Registering.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendOTPForget</servlet-name>
        <servlet-class>Control.Forgetting.SendOTPForget</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>Control.Forgetting.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendOTPRegister</servlet-name>
        <servlet-class>Control.Registering.SendOTPRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnterNewPassword</servlet-name>
        <servlet-class>Control.Forgetting.EnterNewPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCart</servlet-name>
        <servlet-class>Control.Cart.ShowCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Control.LoggingIn.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>applyDiscount</servlet-name>
        <servlet-class>Control.Cart.applyDiscount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>Control.Payment.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>order</servlet-name>
        <servlet-class>Control.Payment.order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowOrders</servlet-name>
        <servlet-class>Control.Cart.ShowOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDetails</servlet-name>
        <servlet-class>Control.Cart.ShowDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopUp</servlet-name>
        <servlet-class>Control.Payment.TopUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeUsrInfo</servlet-name>
        <servlet-class>Control.ChangeUsrInfo.ChangeUsrInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsrInfo</servlet-name>
        <servlet-class>Control.UsrInfo.UsrInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Control.Search.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportFoodServlet</servlet-name>
        <servlet-class>Control.Search.ReportFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportShopServlet</servlet-name>
        <servlet-class>Control.Search.ReportShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportShipperServlet</servlet-name>
        <servlet-class>Control.Search.ReportShipperServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowShopHome</servlet-name>
        <servlet-class>Control.Homing.ShowShopHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowShipperHome</servlet-name>
        <servlet-class>Control.Homing.ShowShipperHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowShopOrderDetails</servlet-name>
        <servlet-class>Control.Cart.ShowShopOrderDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DenyOrder</servlet-name>
        <servlet-class>Control.Payment.DenyOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowFood</servlet-name>
        <servlet-class>Control.LoggingIn.ShowFood</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportFoodServlet</servlet-name>
        <url-pattern>/ReportFoodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportShopServlet</servlet-name>
        <url-pattern>/ReportShopServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportShipperServlet</servlet-name>
        <url-pattern>/ReportShipperServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowHome</servlet-name>
        <url-pattern>/ShowHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmRegisterEmail</servlet-name>
        <url-pattern>/ConfirmRegisterEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendOTPForget</servlet-name>
        <url-pattern>/SendOTPForget</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendOTPRegister</servlet-name>
        <url-pattern>/SendOTPRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnterNewPassword</servlet-name>
        <url-pattern>/EnterNewPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCart</servlet-name>
        <url-pattern>/ShowCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>applyDiscount</servlet-name>
        <url-pattern>/applyDiscount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/ajaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>order</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowOrders</servlet-name>
        <url-pattern>/ShowOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDetails</servlet-name>
        <url-pattern>/ShowDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopUp</servlet-name>
        <url-pattern>/TopUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeUsrInfo</servlet-name>
        <url-pattern>/ChangeUsrInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsrInfo</servlet-name>
        <url-pattern>/UsrInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowShopHome</servlet-name>
        <url-pattern>/ShowShopHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowShipperHome</servlet-name>
        <url-pattern>/ShowShipperHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowShopOrderDetails</servlet-name>
        <url-pattern>/ShowShopOrderDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DenyOrder</servlet-name>
        <url-pattern>/DenyOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowFood</servlet-name>
        <url-pattern>/ShowFood</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home/menu.jsp</welcome-file>
    </welcome-file-list>
</web-app>
