<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>Authentication</filter-name>
        <filter-class>Filter.Authentication</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <url-pattern>/Home/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Control.LoggingIn.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowHome</servlet-name>
        <servlet-class>Control.Homing.ShowHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmRegisterEmail</servlet-name>
        <servlet-class>Control.Registering.ConfirmRegisterEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Control.Registering.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendOTPForget</servlet-name>
        <servlet-class>Control.Forgetting.SendOTPForget</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>Control.Forgetting.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendOTPRegister</servlet-name>
        <servlet-class>Control.Registering.SendOTPRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnterNewPassword</servlet-name>
        <servlet-class>Control.Forgetting.EnterNewPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeUsrInfo</servlet-name>
        <servlet-class>Control.ChangeUsrInfo.ChangeUsrInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsrInfo</servlet-name>
        <servlet-class>Control.UsrInfo.UsrInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowHome</servlet-name>
        <url-pattern>/ShowHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmRegisterEmail</servlet-name>
        <url-pattern>/ConfirmRegisterEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendOTPForget</servlet-name>
        <url-pattern>/SendOTPForget</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendOTPRegister</servlet-name>
        <url-pattern>/SendOTPRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnterNewPassword</servlet-name>
        <url-pattern>/EnterNewPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeUsrInfo</servlet-name>
        <url-pattern>/ChangeUsrInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsrInfo</servlet-name>
        <url-pattern>/UsrInfo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home/menu.jsp</welcome-file>
    </welcome-file-list>
</web-app>
